@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: futura-medium;
    src: url(./asset/fonts/futura/FUTURA65MEDIUM.TTF);
}

.futura-medium{
    font-family: futura-medium;
}

@font-face {
    font-family: futura-regular;
    src: url(./asset/fonts/futura/FUTURA55REGULAR.TTF);
}

.futura-regular{
    font-family: futura-regular;
}

@font-face {
    font-family: montserrat-bold;
    src: url(./asset/fonts/montserratAlternates/MontserratAlternates-Bold.ttf);
}

.montserrat-bold{
    font-family: montserrat-bold;
}


@font-face {
    font-family: futura-bold;
    src: url(./asset/fonts/futura/FUTURA75BOLD.TTF);
}

.futura-bold{
    font-family: futura-bold;
}

@font-face {
    font-family: montserrat-medium;
    src: url(./asset/fonts/montserratAlternates/MontserratAlternates-Medium.ttf);
}
.montserrat-medium{
    font-family: montserrat-medium;
}
@font-face {
    font-family: futura-bold-italic;
    src: url(./asset/fonts/futura/FUTURA76BOLDITALIC.TTF);
}
.futura-bold-italic{
    font-family: futura-bold-italic;
}



html{
    scroll-behavior: smooth;
}

.btn-dropDown:hover+.btn-dpList,.btn-dpList:hover{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #3D135E;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    transform: scaleY(1) translateY(100%);
}

.btn-dpList{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: 0;
    background: #3D135E;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    height: 30vh;
    justify-content: center;
    align-items: center;
    width: 100vw;
    transform:scaleY(0)  translateY(100%);
    transform-origin: center;
    transition: 1s;
}
